# Frontend Configuration
VITE_API_URL="http://localhost:8000" # Use this for local development
# VITE_API_URL="https://vitalguard-api-qzgu.onrender.com" # Use this for production

# Backend Configuration
# DATABASE_URL="mongodb://localhost:27017" # Use this for local development
# DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/vitalguard?retryWrites=true&w=majority" # Use this for production 
